* {
    box-sizing: border-box;
}

.container {
    max-width: 630px; 
    width: 100%; 
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
   
}

.wrapper {
    padding-top: 50px;
}


body {
  /*  height: 100%; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
}

div {
    display: block;
}

.title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.panel {
    padding: 20px 40px;
    margin-bottom: 20px;

    border: 1px solid #ddd;
    border-radius: 5px;
}

.email_address, .password, .checkbox, .submit {
    margin-bottom: 15px;
}

input[type=text] {
    width: 100%;
    padding: 7px 0 7px 10px;
    margin-top: 5px;

    display: inline-block;

    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-sizing: border-box;

    font-size: 14px;
    color: lightgray;
}

input[type=password] {
    width: 100%;
    padding: 7px 0 7px 10px;
    margin-top: 5px;

    display: inline-block;

    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-sizing: border-box;

    font-size: 14px;
    color: lightgray;
}

input[type=checkbox] {
    margin: 4px 0 0;
    float: left;
}
.checkbox > label {
    margin-left: 3px;
    margin-bottom: 5px;
    font-size: 14px;
}

.checkbox > a {
    float: right;
}

input[type=submit] {
    width: 100%;
    padding: 7px 0;
    margin-top: 5px;

    display: inline-block;

    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;

    text-align: center;
    font-size: 14px;
    color: inherit;
}

hr {
    height: 0;
    margin: 20px 0;

    display: block;

    border: 0;
    border-top: 1px solid gainsboro;
    box-sizing: border-box;
}

.replace {
    margin-bottom: 15px;
    text-align: center;
}

.box-contain {
    padding: 0;
    margin: 0;
 /* -webkit-box-orient: vertical;*/
    display: flex;
}

.box-space {
    justify-content: space-around;
}

.box-bot {
    margin-bottom: 20px;
}

._button {
    width: 35%;
}
.box-contain > * {
    min-height: 1px;
}

.btn-face {
    color: white;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-google {
    color: white;
    background-color: #dd4b39;
    border-collapse: rgba(0,0,0,0.2);
}

.block {
    display: block;
    width: 100%;
}

.social {
    position: relative;
   /* padding-left: 44px;*/
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    
.btn {
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    padding: 6px 12px;
    padding-left: 44px;
    font-size: 14px;

    text-decoration: none;
}

.fa {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;

    line-height: 34px;
    font-size: 1.6em;
    text-align: center; 

    border-right: 1px solid rgba(0,0,0,0.2);
}

.fa-facebook, .fa-google {
    color: white;
}

#_link:link {
    color: #337ab7;
    text-decoration: none;
}

#_link:visited {
    color: blue;
}

#_link:hover {
    color: blue;
}

.btn-face:hover {
    background-color: navy;
}
.btn-google:hover {
    background-color: firebrick;
}

